<!DOCTYPE html>
<html>
<head>
	<title>{% block metatitle %}{% endblock metatitle %} </title>
	<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" type="text/css" />

</head>
<body>

	<header class="header">

		<img class="logo-header" src="{{ asset('assets/img/logo.webp') }}" alt="logo cocktail" />

		<nav class="nav-header">

			<ul class="nav-menu">
        <li><a href="{{ path('home') }}">Home</a></li>
        <li><a href="{{ path('article') }}">Créer un article</a></li>
        <li><a href="{{ path('list-articles') }}">Liste des articles</a></li>
			</ul>

		</nav>

	</header>

    


{% block main %}
{% endblock main %}

