<!DOCTYPE html>
<html>
<head>
    <title>{% block metatitle %}{% endblock metatitle %}</title>
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" type="text/css" />
</head>
<body>

    <header class="header">
        <img class="logo-header" src="{{ asset('assets/image/tigre.logo.jpg') }}" alt="logo animal" />

        <nav class="nav-header">
            <ul class="nav-menu">
                <li><a href="{{ path('home') }}">Home</a></li>
                <li><a href="{{ path('article') }}">Créer un article</a></li>
                <li><a href="{{ path('list-articles') }}">Liste des Articles</a></li>
                <li><a href="{{ path('category') }}">Liste des Categories</a></li>
            </ul>
        </nav>
    </header>

    <main class="main">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% block main %}
        {% endblock main %}
        
    </main>

    <script>
        function confirmDeletion(event, articleId) {
            // Empêche la navigation automatique
            event.preventDefault();
    
            // Affiche une boîte de confirmation
            let confirmation = confirm("Voulez-vous vraiment supprimer cet article ?");
    
            // Vérifie la réponse de l'utilisateur
            if (confirmation) {
                window.location.href = `/delete-article/${articleId}`;
            } else {
                alert("Suppression annulée. L'article reste disponible !");
            }
        }
    </script>
    
</body>
</html>