<!DOCTYPE html>
<html>
<head>
    <title>{% block metatitle %}{% endblock metatitle %}</title>
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" type="text/css" />
</head>
<body>

    <header class="header">
        <img class="logo-header" src="{{ asset('assets/image/tigre.logo.jpg') }}" alt="logo animal" />

        <nav class="nav-header">
            <ul class="nav-menu">
                <li><a href="{{ path('home') }}">Home</a></li>
                <li><a href="{{ path('article') }}">Créer un article</a></li>
                <li><a href="{{ path('list-articles') }}">Liste des articles</a></li>
            </ul>
        </nav>
    </header>

    <main class="main">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% block main %}
        {% endblock main %}
        
    </main>

    <script>
        // Fonction pour confirmer la suppression d'un article en javascript
        function confirmDeletion(articleId) {
            let confirmation = confirm("Voulez-vous vraiment supprimer cet article ?");
            if (confirmation === true) {
                window.location.href = `/delete-article/${articleId}`;
            }else{
                window.location.href = `/list-article/${articleId}`;     
        }
    </script>

</body>
</html>