{% extends 'base.html.twig' %}

{% block main %}
<main id="article-detail">
    <article class="article-container">
        <h1 class="article-title">{{ article.title }}</h1>
        <p class="article-description">{{ article.description }}</p>
        <div><img src="{{ article.image }}" alt="Image de l'article" class="article-image"></div>
        <p class="article-content">{{ article.content }}</p>
    <a href="{{ path('delete-article', {'id' : article.id}) }}" onclick="confirmDeletion(event, '{{ article.id }}'); return false;" class="delete-article-btn">Supprimer l'article</a>   
    <a href="{{ path('update-article', {'id' : article.id}) }}"><button class="update-article-btn">Modifier l'article</button>
    </article>
</main>
{% endblock main %}