{% extends 'base.html.twig' %}

{% block main %}
<main id="articles-list">
    <h1 class="page-title">Liste des articles</h1>

    <section class="articles-container">
        {% for article in articles %}
        <a href="{{ path('detail-article', {'id' : article.id}) }}"><article class="article-preview">
                <h2 class="article-title">{{ article.title }}</h2>
                <p class="article-description">{{ article.description }}</p>
                <div><img src="{{ article.image }}" alt="Image de l'article" class="article-image"></div>
                <p class="article-content">{{ article.content }}</p>
                <a href="{{ path('delete-article', {'id' : article.id}) }}" onclick="confirmDeletion(event, '{{ article.id }}'); return false;" class="delete-article-btn">Supprimer l'article</a><!--j'ajoute la fonction onclick pour confirmer la supression via javascript-->
                <a href="{{ path('update-article', {'id' : article.id}) }}"><button class="update-article-btn">Modifier l'article</button></a>
            </article></a>
        {% endfor %}
    </section>
</main>
 {% endblock main%}
   