{% extends 'base.html.twig' %}

{% block main %}
<main id="articles-list">
    <h1 class="page-title">Liste des articles</h1>

    <section class="articles-container">
        {% for article in articles %}
        <a href="{{ path('detail-article', {'id' : article.id}) }}"><article class="article-preview">
                <h2 class="article-title">{{ article.title }}</h2>
                <p class="article-description">{{ article.description }}</p>
                <div><img src="{{ article.image }}" alt="Image de l'article" class="article-image"></div>
                <p class="article-content">{{ article.content }}</p>
            </article>
        {% endfor %}
    </section>
</main>
 {% endblock main%}
   